.gradient {
  border-radius: 50%;
  width: 327px;
  height: 237px;
  filter: blur(30px);
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .gradient {
    display: none;
  }
  
}
