.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  padding-top: 30px;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-left h1 {
  font-size: 30px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar ul li {
  font-size: 20px;
  cursor: pointer;
}
.navbar ul li:hover {
  color: #ff5555;
}
.hamburger {
  display: none;
}

.theme-btn {
  width: fit-content;
  text-align: center;
  padding: 10px;
  position: absolute;
  right: 10px;
}
@media screen and (max-width: 1024px) {
  .navbar ul {
    display: none;
  }
  .navbar {
    margin: 0;
    padding: 10px;
  }
  .download-btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .navbar ul li:hover {
    color: #ffffff;
  }
  .theme-btn {
    right: 100px;
  }
}
