.footer {
  display: flex;
  margin: 0 150px 150px;
  justify-content: space-between;
}
.footer h2 {
  font-size: 32px;
  font-weight: 500;
}
.footer p {
  font-size: 16px;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.inp-container {
  display: flex;
  align-items: center;
  background-color: rgb(237, 237, 237);
  padding: 10px;
}
.inp-container input {
  height: 60px;
  border: none;
  padding: 10px;
  background-color: transparent;
  outline: none;
}

.div p:hover {
  cursor: pointer;
  color: gray;
}
.contact div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .footer {
    /* display: none; */
    margin: 10px 10px;

    width: 100%;
    flex-direction: column;
  }

  .news-div {
    display: flex;
    flex-direction: column;
  }
  .contact {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
 
}
