#dark {
  background-color: rgb(84, 84, 84);
}
#dark p {
  color: rgb(166, 167, 167);
}
#dark h1,
#dark h2,
#dark h3,
#dark h4 {
  color: white;
}

#light h1,#light h2,#light h3,#light h4{
    color:black;
}